@import url("allcss.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@0,400;1,200&family=Roboto:wght@400;500;700&display=swap');

:root {
    --blue-color-Footer : rgba(4,36,66,0.963);
    --yellow-color : #D3F298;
    --text-blue: #0A2B47;
    --text-white: #F7F8F4;
    --text-black1 : #0A0A09;
    --text-black :#070606;
    --font-Hoefler: 'PT Serif', serif;
    --font-Helvetica: 'Heebo', sans-serif;
    --bg-color : rgb(236, 241, 223);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}

#btnscrollup{
    z-index: 1;
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    background:  #0A2B47;
    outline: none;
    box-shadow: 0 0 10px  #0A2B47;
    color: white;
    outline: none;
    cursor: pointer;
  }

  #btnscrollup{
    background:  #0A2B47;


  }


.firstbox {
    width: 100%;
    height: 40rem;
    background-color: var(--blue-color-Footer);
}

.firstbox1 {
    padding-top: 4em;
    width: 100%;
    height: 90%;
}

.text {
    width: 92%;
    margin-top: 85px;
    margin-left: 80px;
}
.text h1 {
    /* font-family: 'PT Serif', serif; */
    font-family: var(--font-Hoefler);
    font-weight: 400;
    color:  #D3F298;
    font-size: 65px;
    margin-top: -5px;
}


.text1 {
    background: #fff;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 80px 10px 0px;
    border-radius: 2px;
}

.text1 h2 {
    font-family: var(--font-Hoefler);
    font-weight: 500;
    color: var(--text-blue);
    font-size: 40px;
    padding: 0;
    margin: 0;
}

#myBtn {
    font-size: 20px;
    color: #0A2B47;
    font-weight: bold;
    margin-top: 5px;
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    background-color: #D3F298;



}

.btn1 {
    margin-top: 30px;
    color: var(--text-blue);
    background-color: var(--yellow-color);
    padding: 18px 70px;
    font-family: var(--font-Helvetica);
    font-weight: 500;
    font-size: 22px;
    border: none;
    border-radius: 8px;
}

.border {
    margin-top: 40px;
    width: 99%;
    height: 100%;
    border: 3px solid var(--yellow-color) !important;
    border-radius: 25px;
    padding: 20px;
}

#sum-text {
    padding-top: 20px;
    padding-left: 18px;
}

.img {
    width: 100%;
    height: 100%;
    background: url("./connecting_IT/images/palcement.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    transition: 0.4s;
    -webkit-filter: brightness(100%);

}

.img:hover {
    -webkit-filter: brightness(50%);


}

/* pop up */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    -webkit-animation: zoomIn 0.4s ease-out;

}

@-webkit-keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#para {
    padding-top: 20px;
    font-size: 18px;
    color: #000;
}

#parasub {
    padding-top: 5px;
    font-size: 18px;
}

#para-sub2 {
    font-size: 18px;
}

#head {
    text-decoration: underline;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* img text container start  */

.img2 {
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(100%);
    transition: 0.4s;

}

.img2:hover {
    -webkit-filter: brightness(50%);

}

.img2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
}

.text2 {
    width: 100%;
    height: 90%;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.circletext {
    width: 130px;
    height: 130px;
    background-color: var(--yellow-color);

    border: none;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.random {
    position: absolute;
    background-color: var(--yellow-color);

    /* background: red; */
    width: 50px;
    height: 50px;
    top: 80px;
    left: 0;
    bottom: -15px;
    clip-path: polygon(50% 0%, 76.4% 70%, 9.8% 100%);
}

.circletext p {
    color: var(--text-blue);
    font-family: var(--font-Hoefler);
    font-weight: bold;
    font-size: 19px;
}

.text2 ul {
    list-style: none;
    padding: 0px;
}

.text2 ul li {
    padding: 8px;
    font-family: var(--font-Helvetica);
    font-size: 15px;
    font-weight: 400;
    color: var(--text-blue);
}

.list-unstyled img {
    width: 20px;
    height: 20px;
}

.container1 {
    height: auto;
}

.text3 {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 25px;
    padding: 10px 15px;
}

.text3 ul li {
    padding: 8px;
    font-family: var(--font-Helvetica);
    font-size: 15px;
    font-weight: 400;
    color: var(--text-blue);
}

.text3img img {
    width: 20px;
    height: 20px;
}

.img3 {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    -webkit-filter: brightness(100%);

}

.img3:hover {
    -webkit-filter: brightness(50%);

}

.img3 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: none;
}

.text-center h5 {
    font-family: var(--font-Helvetica);
    font-size: 20px;
    font-weight: bold;
    color: var(--text-blue);
}

.text-center p {
    font-family: var(--font-Helvetica);
    font-size: 18px;
    font-weight: 400;
    color: var(--text-blue);
}

.circletext2 {
    width: 130px;
    height: 130px;
    background-color: var(--yellow-color);

    border: none;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random1 {
    position: absolute;
    background-color: var(--yellow-color);

    /* background: red; */
    width: 50px;
    height: 56px;
    top: 80px;
    right: 0;
    bottom: -15px;
    clip-path: polygon(40.5% 0%, 87.9% 100%, 7.8% 59.3%);
}

.circletext2 p {
    color: var(--text-blue);
    font-family: var(--font-Hoefler);
    font-weight: bold;
    font-size: 19px;
}

/* navlink */
#nav-link {
    margin-right: 50px;
    margin-top: 4px;
}



/* video part css start */

.container2 {
    height: auto;
    display: flex;
    justify-content: center;
}

.vbox1 {
    width: 300px;
    height: auto;
    margin: auto;
}

.vbox1 video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
}

.vbox2 {
    padding-left: 5px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vbox2 h6 {
    font-size: 18px;
    font-family: var(--font-Helvetica);
    font-weight: 400;
    color: var(--text-black1);

}

.vbox2 h6 a {
    font-size: 16px;
    font-family: var(--font-Helvetica);
    font-weight: 400;
    color: var(--text-black1);
    text-decoration: none;
}


/* our partnors section css */
.patrons {
    font-family: var(--font-Hoefler);
    font-size: 38px;
    color: var(--text-blue);
    font-weight: 900;
}

.container3 {
    height: auto;
}

.usercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxuserall {
    flex-basis: 30%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.userbox {
    width: 100%;
    height: 24em;
    background-color: var(--text-white);
    border-radius: 20px;
    border: none;
    text-align: justify;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}
#details{
    font-size: 25px;
    font-weight: bold;
}


.userbox:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.userimg {
    text-align: center;
    width: 230px;
    height: 230px;
    object-fit: cover;
    position: absolute;
    top: -30%;
    left: 18%;
}


.userimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 6px solid var(--yellow-color);
    border-radius: 50%;
}

.usertext {
    text-align: justify;
    text-align: center;
    position: absolute;
    height: 13rem;
    bottom: 0;
    padding: 0px 10px;
}

.usertext h5 {
    font-family: var(--font-Hoefler);
    color: var(--text-blue);
    font-size: 24px;
    margin-top: -20px;
    margin-bottom: 30px;
    font-weight: 900;
}

.usertext p {
    margin-top: 20px;
    font-family: var(--font-Helvetica);
    color: var(--text-blue);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/* video details */
#video {

    padding-left: 140px;
}

/* Company Details */
.companyinfo {
    width: 95%;
    padding-top: 30px;
    background-color: var(--yellow-color);
    height: 30%;
    border-radius: 10px;
    margin: 22px 30px 20px 34px;
}
.comp {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 20px 40px 20px;
}

.vl {
    border-left: 2px dotted var(--text-blue);
    margin-bottom: 25px;
}

.office-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* .office-1 h3 {
    color: var(--text-blue);
    text-align: center;
    justify-content: center;
    margin-left: 40px;
} */

/* .office-1 h4 {
    margin-top: 10px;
    color: var(--text-blue);
    font-size: 30px;
    margin-left: 42px;
    font-weight: bold;
}

.office-1 p {
    color: var(--text-blue);
    font-size: 22px;
    text-align: center;
    font-weight: bold;

} */

.email-1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .email-1 h3 {
    color: var(--text-blue);
    margin-left: 40px;
    font-weight: bold;

}

.email-1 h4 {
    margin-top: 10px;

    color: var(--text-blue);
    font-size: 30px;
    margin-left: 42px;
    font-weight: bold;

}

.email-1 p {
    color: var(--text-blue);
    font-size: 22px;
    text-align: center;
    font-weight: bold;

} */

.follow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
.follow h3 {
    color: var(--text-blue);
    margin-left: 35px;
    font-weight: bold;


}

.follow h4 {
    margin-top: 10px;

    color: var(--text-blue);
    font-size: 30px;
    margin-left: 58px;
    font-weight: bold;

}

.follow p {
    color: var(--text-blue);
    font-size: 22px;
    text-align: center;
    font-weight: bold;

} */
.Patron-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .Patron-main h3 {
    color: var(--text-blue);
    margin-left: 1px;
    font-weight: bold;


}

.Patron-main h4 {
    margin-top: 10px;

    color: var(--text-blue);
    font-size: 30px;
    margin-left: 22px;
    font-weight: bold;

}

.Patron-main p {
    color: var(--text-blue);
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}

 */

/* inp -sub */
#brand {
    margin-right: 100px;
}

#sub {
    margin-top: -15px;
  }

#inp {
    margin-top: 2px;

}



/* our clints css */

.imgmargin {
    display: flex;
    flex-wrap: wrap;
}

.imgmargin img {
    margin: 5px;
    margin-right: 19px;
}

/* company */
  /*Conatct   */
  .ginmain {
    width: 90%;
    height: 25%;
    margin: 40px 0px 30px 60px;
    background-color: var(--yellow-color);
    border-radius: 10px;


}

.getin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 80px 10px 80px;
    

}
.bttn {
    width: 100%;
    font-family: var(--font-Hoefler);
    padding: 10px 70px;
    background-color: var(--text-blue);
    font-size: 25px;
    border-radius: 10px;
    color: white;
    /* margin-top: 20px;
    margin-right: 40px; */
}

.leftget {
    color: var(--text-blue);
    font-size: 46px;
    /* width: 50%; */
    /* margin-left: 30px;
    margin-right: 0px; */
    font-family: var(--font-Hoefler);

   

}
.rightgetinfo {
   
    /* margin-top: 18px;
    margin-left: 80px; */
}

    
  
/*Conatct   */

.ctact {
    background-image: url(./image/burst-kUqqaRjJuw0-unsplash.jpg);
    background-size: cover;
    margin-top: 80px;
    height: 60rem;

}

.main-button {
    padding-top: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btnn {
    background-color: var(--text-blue);
    padding: 15px 40px;
    color: white;
    border-radius: 4px;
    border: 1px solid var(--yellow-color);

}

#caution {
    font-weight: bold;
    text-align: start;
}

.form {
    background-color: var(--yellow-color);
    width: 50%;
    height: 100%;
    margin: 100px 0px 40px 80px;
    border-radius: 10px;
}

.maintext {
    color: var(--text-blue);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 87%;
    margin: 30px 40px 10px 47px;
}

.left-text {
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: row;

}

.paragraph {
    text-align: center;
}

.mid-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

/* Inputs */

#mail {

    color: var(--text-blue);
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
}

#info {
    color: var(--text-blue);
    margin-top: -4px;
    margin-left: 8px;
    font-size: 1.1rem;
    font-weight: bold;

}

#info-1 {
    margin-top: 2px;
    font-size: 1.1rem;
}

#phno {


    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
}

#texta-1 {
    color: var(--text-blue);
    width: 100%;
    margin-left: 0px;
    margin-right: 5px;
    font-size: 1.1rem;
    font-weight: bold;

}

.inputs {
    margin: 20px 51px 10px 51px;
    display: flex;
    flex-direction: column;
}

.input-1 {
    margin-bottom: 10px;
    padding: 10px 20px;
    outline: none;
    border: none;

}

.textarea-1 {
    padding: 10px 20px;
    resize: none;
    outline: none;
    border: none;
}

.submit {
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: var(--text-blue);
    transition: 0.4s;
    outline: none;
    border: none;

}

.home {
    background-color: var(--text-blue);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 300px;
}

.home span {
    text-align: center;
    padding: 25px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.main-home {
    display: flex;
    justify-content: space-evenly;
}



/* Footer Link */
.list-unstyled a {
    font-size: 15px;
}

#text-4 {
    font-size: 20px;
    font-weight: bolder;

}

#para-1 {
    font-size: 15px;


}
/* summary */
summary{
    font-family: var(--font-Helvetica);
}




/* form section css */

.formfullbg {
    background: var(--text-blue);
    width: 100%;
    margin: auto;
    height: auto;
}

.formbg {
    width: 100%;
    height: 140vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./image/pic1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formdiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fdiv1 {
    width: 100%;
    height: auto;
    background-color: var(--yellow-color);
    border: none;
    border-radius: 20px;
}

.fdiv2 {
    width: 70%;
    height: 65vh;
    margin-right: 150px;
    background-color: var(--yellow-color);
    border: none;
    border-radius: 20px;
}

.fdiv3 {
    width: 110px;
    height: 100px;
    background: var(--text-blue);
    border: none;
    border-radius: 50%;
}


/* form */
#con-1 {
    margin-top: -80px;
    margin-left: -70px;
    margin-right: 30px;
    font-size: large;
    font-weight: bold;
}

#cont {
    font-size: large;
    font-weight: bold;

}

#text-2 {
    font-size: 35px;
    font-weight: bold;
}

#name {
    display: flex;
    text-align: center;
    justify-content: center;
}

#textara {
    margin-top: 20px;

}

.textara {
    width: 100%;

    outline: none;
    border-radius: 5px;
    border: none;
    resize: none;
    padding: 10px;
}

#submit {
    color: var(--yellow-color);
    background-color: var(--text-blue);
    margin-top: 10px;
    border: none;
    float: right;
    border-radius: 4px;
    padding: 10px 20px;
    transition: 0.4s;
}

#submit:hover {
    color: var(--text-blue);
    background-color:  #b7ff65;
    border: 1px solid var(--text-blue);

}

.container4 {
    width: 90%;
    margin: auto;
    height: 100%;
}

.container5 {
    width: 100%;
    height: 100%;
}

.container5 h1 {
    font-family: 'PT Serif', serif;
    font-size: 66px;
    font-weight: 400;
    color: var(--text-blue);
}

.btn2 {
    background: var(--text-blue);
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    --font-Helvetica: 'Heebo', sans-serif;
    font-weight: 400;
    color: var(--text-white);
}

.btn2:hover {
    color: rgb(220, 217, 217);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.mail a {
    color: var(--text-blue);
    font-family: var(--font-Helvetica);
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}

.mail img {
    vertical-align: text-top;
}

.call img {
    vertical-align: text-top;
}

.call {
    color: var(--text-blue);
    font-family: var(--font-Helvetica);
    font-size: 22px;
    font-weight: 500;
}


.text p {
    color: var(--text-blue);
    font-family: var(--font-Helvetica);
    font-size: 21px;
    font-weight: 500;
}
/* 

*/

.email {
    width: 100%;
    height: auto;
    background: var(--text-white);
    border-radius: 5px;
}

.email input {
    width: 100%;
    height: 100%;
    border: none;
    background: var(--text-white);
    outline: none;
    padding: 10px;
}

/* .container-fluid {
    width: 93%;
    margin: auto;
} */
.fdiv4 {
    width: 70%;
    height: 70%;
}

.fdiv4 img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    object-fit: cover;
}

.fdiv4:hover {
    width: 71%;
    height: 71%;
    cursor: pointer;
}

/* media query start */

@media (max-width : 767px) {

    


    /* company info */


    .comp {
        display: flex;
        flex-direction: column;
    }

  
   
    .companyinfo {
        width: 94%;
        height: 100%;
        padding-top: 71px;
        background-color: white;
        border-radius: 10px;
        margin: 20px 10px 1px 10px;
    }

    .office-1 {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 39px;
        background-color: rgb(228, 228, 228);
    }
    /* .office-1 h3 {
        margin-left: 135px;
    }

    .office-1 h4 {
        margin-left: 140px;
    } */


    .email-1 {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 39px;
        background-color: rgb(228, 228, 228);


    }

    /* .email-1 h3 {
        margin-left: 135px;
    }

    .email-1 h4 {
        margin-left: 140px;
    } */

    .follow {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 39px;
        background-color: rgb(228, 228, 228);

    }


    /* .follow h3 {

        text-align: center;
        font-weight: bold;
        margin-left: 130px;
    }


    .follow h4 {
        margin-left: 155px;
    } */

    .Patron-main {

        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(228, 228, 228);
    }
    #con-1 {
        margin-top: 10px;
        margin-left: -10px;
        margin-right: 5px;
        font-size: large;
        font-weight: bold;
    }

    .firstbox {
        height: 100%;
        padding-bottom: 10px;
    }

    .text h1 {
        font-size: 38px;
    }

    .text1 {
        width: 100%;
        margin: 25px 0px;
    }

    .text1 h2 {
        font-size: 21px;
        justify-content: center;
    }

    .btn1 {
        padding: 15px 33px;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .border {
        height: 16rem;
    
    }

    .text2 {
        width: 100%;
        height: 100%;
        border-radius: 11px;
        margin-top: 100px;
        padding-top: 80px;
    }

    .text-center {
        font-size: 18px;
        margin-top: 80px;
    }

    .circletext {
        top: 30px;
    }

    .img3 {
        height: 100%;
    }

    .img3 img {
        margin-top: 20px;
    }

    .container2 {
        display: block;
        justify-content: center;
    }

    .responsive {
        margin: 30px 0px;
    }

    .vbox2 {
        width: 100%;
        height: 80px;
        text-align: center;
    }

    /* our partnors section css */

    .boxuserall {
        flex-basis: 100%;
        height: 36rem;
    }

    .userbox {
        width: 100%;
        height: 25rem;
    }

    .userimg {
        width: 50%;
        height: 60%;
        position: absolute;
        top: -58%;
        left: 50%;
        transform: translate(-50%, 50%);
        /* border-radius: 50%; */
    }

    .imgmargin {
        display: flex;
    }

    .imgmargin img {
        margin: 3px;
        margin-right: 5px;
    }

    /* form css design */
    /* .formbg {
        width: 100%;
        height: 100%;
        padding: 5px;
    }

    .fdiv1 {
        margin-right: 10px;
        margin-left: 10px;
        width: 100%;
        height: auto;
    }

    .fdiv2 {
        margin-right: -40px;
        width: 100%;
        height: auto;

    } */

    .container5 h1 {
        font-size: 35px;
    }

    .btn2 {
        padding: 10px 30px;
        font-size: 22px;
    }

    .text {
        
        padding-top: 10px;
        width: 95%;
        margin: auto;
    }

    .text p {
        font-size: 15px;
        text-align: center;
    }
    /* video section */
    #video {
        padding-left: 10px;
    }

    /* ctact info */
    .ginmain {
        width: 97%;
        height: 13rem;
        margin: 50px 20px 40px 10px;
        background-color: var(--yellow-color);
        border-radius: 10px;
    }
    .getin {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px 1px 10px 0px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
      .ctact{
        height: 50rem;
    }

    .leftget {
        color: var(--text-blue);
        font-size: 35px;
        width: 100%;
        margin-left: 0px;
        font-family: var(--font-Hoefler);
      }
      .rightgetinfo {
        width: 100%;
        margin-top: 5px;
        margin-left: 0px;
      }
      

    .main-home {
        display: flex;
        flex-direction: column;
    }

    .home {
        margin-left: 25em;
        margin-top: 40px;
    }

    .form {
        background-color: var(--yellow-color);
        width: 97%;
        height: 100%;
        margin: 50px 10px 0px 10px;
        border-radius: 20px;
    }
    
    .maintext {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 20px;
    }
    #mail {
        color: var(--text-blue);
        display: flex;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .inputs {
        width: 93%;
        margin: 20px 20px 10px 20px;
        display: flex;
        flex-direction: column;
    }

    #texta-1 {
        width: 93%;
        text-align: left;
        font-size: 18px;
        margin-left: 20px;
        font-weight: bold;
    }
    .rightgetinfo {
        width: 60%;
        margin-top: 18px;
    }

}

@media (max-width:500px)   /* smartphones, Android phones, landscape iPhone */ {
        #frm{
            margin-top: 40px;
            margin-bottom: 30px;
        }
        
    
        .text h1 {
            margin-top: 10px;
        }
    
        #video {
            padding-top: 70px;
            padding-left: 12px;
        }
    
        .ginmain {
            width: 95%;
            height: 12rem;
            border-radius: 8px;
            margin: 50px 20px 40px 10px;
                background-color: var(--yellow-color);
          }
    
          .getin {
            display: flex;
            flex-direction: column;
            padding: 21px 6px 10px 1px;
            align-items: center;
            text-align: center;
            width: 100%;
        }
       
    
        .inputs {
            margin: 20px 200px 10px 200px;
            display: flex;
            flex-direction: column;
        }
    
        .leftget {
            width: 100%;
            color: var(--text-blue);
            font-size: 2.9rem;
            margin-top: 5px;
        }
    
        .rightgetinfo {
            width: 50%;
            margin-top: 18px;
           
        }
       
    
        .bttn {
            padding: 10px 50px;
            background-color: var(--text-blue);
            font-size: 20px;
            border-radius: 10px;
            color: white;
            margin-top: 1px;
        }
    
        .ctact {
            
            height: 50rem;
        }
    
        .main-home {
            display: flex;
            flex-direction: column;
        }
    
        .home span {
            text-align: center;
            padding: 23px;
            font-size: 30px;
            color: rgb(255, 255, 255);
        }
    
        .home {
            margin-left: 17em;
            margin-top: 40px;
        }
        #info {
            color: var(--text-blue);
            margin-left: 6px;
            margin-top: 0px;
            font-size: 20px;
        }
    
        .form {
                background-color: var(--yellow-color);
            width: 95%;
            height: 100%;
            margin: 50px 30px 0px 10px;
            border-radius: 10px;
          }
    
        .maintext {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-left: 20px;
        }
    
        .inputs {
            color: var(--text-blue);
            margin: 20px 10px 10px 10px;
            display: flex;
            flex-direction: column;
        }
        .left-text {
            display: flex;
            flex-direction: row;
        }
        #mail {
            color: var(--text-blue);
            display: flex;
            font-size: 1.3rem;
            font-weight: bold;
            margin-right: 2px;
        }
    
        #texta-1 {
            width: 88%;
            font-size: 18px;
            margin-left: 10px;
            font-weight: bold;
        }
            /* company info */
    
    
            .comp {
                display: flex;
                flex-direction: column;
            }
        
            .companyinfo {
                width: 93%;
                padding-top: 50px;
                background-color: white;
                height: 63rem;
              }
        
            .office-1 {
                padding-top: 20px;
                margin-bottom: 30px;
                background-color: rgb(228, 228, 228);
            }
        
            .office-1 h3 {
                margin-left: 46%;        
            }
    
    
            .office-1 h4 {
                margin-left: 47%;
              }
        
        
            .email-1 {
                padding-top: 20px;
                margin-bottom: 30px;
                background-color: rgb(228, 228, 228);
        
        
        
            }
        
            .email-1 h3 {
                margin-left: 45%;        }
        
            .email-1 h4 {
                margin-left: 45%;        }
        
            .follow {
        
                padding-top: 20px;
                margin-bottom: 30px;
                background-color: rgb(228, 228, 228);
        
            }
        
        
            .follow h3 {
        
                text-align: center;
                font-weight: bold;
                margin-left: 42%;
            }
        
        
            .follow h4 {
                margin-left: 45%;       
             }
        
            .Patron-main {
        
                padding-top: 20px;
                margin-bottom: 30px;
                background-color: rgb(228, 228, 228);
        
            }
        
            .Patron-main h3 {
        
                text-align: center;
                font-weight: bold;
                margin-left: 42%;
            }
        
        
            .Patron-main h4 {
                margin-left: 45%;
            }
    
            .userimg {
                width: 65%;
                position: absolute;
                top: -50%;
                left: 50%;
                transform: translate(-50%, 50%);
            }
        
            .userimg img {
                width: 90%;
                height: 85%;
                border-radius: 50%;
            }
            
            .leftget {
                color: var(--text-blue);
                font-size: 24px;
                width: 95%;
                margin-left: 2%;
            }
    
            .rightgetinfo {
                width: 50%;
                margin-top: 40px;
            }
            
            
    
        .bttn {
            padding: 10px 50px;
            background-color: var(--text-blue);
            font-size: 20px;
            border-radius: 10px;
            color: white;
            margin-top: 1px;
        }
        #info {
            color: var(--text-blue);
            margin-left: 8px;
            margin-top: 3px;
            font-size: 1.3rem;
        }
          
        
    

}


/* @media(max-width:550px){
   } */


@media (min-width: 768px) and (max-width: 991.98px) {
    .text {
        width: 92%;
        margin-top: 83px;
        margin-left: 25px;
    }

    #frm{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .border {
        margin-top: 60px;
        height: 16rem;
    }    
    
    
/* 

    .border {
        margin-top: 80px;


    } */

    /* video */
    #video {
        padding-left: 6px;
    }
    .getin {
        display: flex;
        flex-direction: column;
        padding: 21px 6px 10px 1px;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .getin {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 10px 5px;
        align-items: center;
    }

    .inputs {
        margin: 20px 200px 10px 200px;
        display: flex;
        flex-direction: column;
    }

    .leftget {
        width: 100%;
        color: var(--text-blue);
        font-size: 2.9rem;
        margin-top: 5px;
    }

    .rightgetinfo {
     
        margin-top: 18px;
       
    }

    .bttn {
        font-family: var(--font-Hoefler);
        padding: 10px 80px;
        background-color: var(--text-blue);
        font-size: 18px;
        border-radius: 10px;
        color: white;
        margin-top: 25px;
        
    }

    /* ctact details */

    .ctact {
        background-image: url(./image/burst-kUqqaRjJuw0-unsplash.jpg);
        background-size: cover;
        margin-top: 80px;
        height: 60rem;

    }


    .info {
        background-color: var(--bg-color);

    }

    /* contact */
    .form {
        background-color: var(--yellow-color);
        width: 95%;
        height: 100%;
        margin: 100px 0px 40px 22px;
        border-radius: 10px;
    }

    .main-home {

        display: flex;
        flex-direction: column;
    }

    .home {
        margin-left: 50em;
        margin-top: 40px;
    }



    .paragraph {
        text-align: center;
    }

    .mid-container {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

    }

    /* Inputs */
    .inputs {
        width: 92%;
        margin: 20px 10px 10px 30px;
        display: flex;
        flex-direction: column;
    }



    .input-1 {
        margin-bottom: 10px;
        padding: 10px 20px;
        outline: none;
        border: none;

    }

    .maintext {
        color: var(--text-blue);
        display: flex;
        margin-top: 20px;
        width: 88%;
        margin: 30px 40px 10px 40px;
    }

    .paragraph {
        text-align: center;
    }

    .mid-container {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

    }

    /* Inputs */

    #mail {
        color: var(--text-blue);
                font-weight: bold;
        font-size: 1.2rem;
    }

    #info {
        margin-top: -2px;
        color: var(--text-blue);
        font-size: 1.1rem;
        font-weight: bold;

    }



    #phno {
        display: flex;
        font-size: 1.3rem;
        font-weight: bold;
    }

    #texta-1 {
        color: var(--text-blue);
        width: 100%;
     
        font-size: 1.1rem;
        font-weight: bold;

    }




    .firstbox {
        width: 100%;
        height: 30rem;
        background: var(--blue-color-Footer);
    }

    .fdiv3 {
        position: relative;
        top: 500px;
        width: 120px;
        height: 110px;
        right: 5px;
    }

    #con-1 {
        margin-top: -40px;
        margin-left: -10px;
        margin-right: 30px;
        font-size: large;
        font-weight: bold;
    }

    .userimg {
        width: 100%;
        height: 70%;
    }

   
    

    .text h1 {
        font-size: 30px;
    }

    .text1 {
        width: 100%;
        margin: 25px 0px;
    }

    .text1 h2 {
        font-size: 21px;
        justify-content: center;
    }

    .btn1 {
        padding: 15px 33px;
        border-radius: 25px;
        margin-top: 0;
    }

    .border {
        height: 17rem;
    }
    /* footer links */

.text-center {
    font-size: 18px;
    margin-top: 4px;
}



    /* end
     */


    /* img text container start  */

    .text2 {
        height: 100%;
        align-items: flex-end;
    }

   
.circletext {
    width: 130px;
    height: 130px;
    background-color: var(--yellow-color);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: -5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circletext2 {
    width: 130px;
    height: 130px;
    background-color: var(--yellow-color);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: -105px;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


    /* video part css start */

    .container2 {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .vbox1 {
        flex-basis: 88%;
    }

    .vbox2 {
        flex-basis: 88%;
    }

    .vbox2 h6 {
        font-size: 30px;
    }

    .vbox2 h6 a {
        font-size: 35px;
    }

    .btn1 {
        padding: 15px 33px;
        border-radius: 25px;
        margin-top: 0;
    }

    .border {
        height: 16rem;
        ;
    }

    .img3 {
        height: 100%;
    }

    .img3 img {}

    /* our partnors section css */

    .boxuserall {
        flex-basis: 100%;
        height: 65rem;
    }

    .userbox {
        width: 100%;
        height: 45rem;
    }

    .userbox:hover {
        height: 45rem;
    }

    .userimg {
        width: 75%;
        position: absolute;
        top: -70%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .userimg img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .usertext {
        height: 25rem;
    }

    .usertext h5 {
        font-size: 55px;
    }

    .usertext p {
        font-size: 33px;
    }

    .imgmargin {
        display: flex;
    }

    .imgmargin img {
        margin: 3px;
        margin-right: 5px;
    }

    .fdiv1 {
        margin-right: -40px;
        height: auto;
    }

    .fdiv2 {
        margin-right: -37px;
        width: 100%;
        height: 100%;

    }

    .container5 h1 {
        font-size: 35px;
    }

    .btn2 {
        padding: 10px 30px;
       
       
        font-size: 22px;
    }
    .companyinfo {
        width: 95%;
        padding-top: 30px;
        background-color: var(--yellow-color);
        height: 30%;
        border-radius: 10px;
        margin: 11px 30px 10px 22px;
    }    
    .ginmain {
        width: 95%;
        height: auto;
        margin: 28px 20px 40px 22px;
        background-color: var(--yellow-color);
    }
}


@media (max-width : 420px) {

    #frm{
        margin-top: 40px;
       
        margin-bottom: 30px;
    }
    
    .text h1 {
        margin-top: 50px;
    }

    #video {
        padding-top: 70px;
        padding-left: 12px;
    }

    .ginmain {
        width: 95%;
        height: 10rem;
        margin: 50px 20px 40px 10px;
        background-color: var(--yellow-color);

    }

    .getin {
        display: flex;
        flex-direction: column;
        padding: 21px 6px 10px 1px;
        align-items: center;
        text-align: center;
        width: 100%;
    }
   

    .inputs {
        margin: 20px 200px 10px 200px;
        display: flex;
        flex-direction: column;
    }

    .leftget {
        width: 100%;
        color: var(--text-blue);
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .rightgetinfo {
        width: 60%;
        margin-top: 18px;
      }

    .bttn {
        padding: 14px 50px;
        background-color: var(--text-blue);
        font-size: 15px;
        border-radius: 10px;
        color: white;
        margin-top: 10px;
    }

    #info {
        color: var(--text-blue);
        margin-left: 6px;
        margin-top: -4px;
        font-size: 20px;
    }

    /* company info */


    .comp {
        display: flex;
        flex-direction: column;
    }

  
   
    .companyinfo {
        width: 94%;
        height: 100%;
        padding-top: 71px;
        background-color: white;
        border-radius: 10px;
        margin: 20px 10px 1px 10px;
    }

    .office-1 {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 39px;
        background-color: rgb(228, 228, 228);
    }
    /* .office-1 h3 {
        margin-left: 135px;
    }

    .office-1 h4 {
        margin-left: 140px;
    } */


    .email-1 {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 39px;
        background-color: rgb(228, 228, 228);


    }

    /* .email-1 h3 {
        margin-left: 135px;
    }

    .email-1 h4 {
        margin-left: 140px;
    } */

    .follow {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 39px;
        background-color: rgb(228, 228, 228);

    }


    /* .follow h3 {

        text-align: center;
        font-weight: bold;
        margin-left: 130px;
    }


    .follow h4 {
        margin-left: 155px;
    } */

    .Patron-main {

        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(228, 228, 228);
    }

    /* .Patron-main h3 {

        text-align: center;
        font-weight: bold;
        margin-left: 130px;
    }


    .Patron-main h4 {
        margin-left: 150px;
    } */


    .ctact {
        width: 100%;
        height: 50rem;
    }

    .inputs {
        margin: 20px 5px 10px 10px;
        display: flex;
        flex-direction: column;
    }

    .inputs {
        width: 95%;
        margin: 20px 5px 10px 10px;
        display: flex;
        flex-direction: column;
    }

    .form {
        background-color: var(--yellow-color);
        width: 95%;
        height: 100%;
        margin: 50px 30px 0px 10px;
        border-radius: 10px;
      }

    .maintext {
        color: var(--text-blue);
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 20px;
        width: 88%;
        margin: 30px 40px 10px 20px;
    }

    /* #texta-1 {
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
        margin-left: 20px;

    } */

    /* our partnors section css */

    .boxuserall {
        flex-basis: 100%;
        height: 36rem;
    }

    .userbox {
        width: 100%;
        height: 25rem;
    }

    .userbox:hover {
        height: 24rem;
    }
    .userimg img {
        width: 70%;
        height: 65%;
        border-radius: 50%;
    }

    .userimg {
        width: 95%;
        height: 80%;
        position: absolute;
        top: -60%;
        left: 50%;
        transform: translate(-50%, 50%);
        /* border-radius: 50%; */
    }

    .usertext {
        padding-top: 90px;
        height: 17rem;
        bottom: 0;
    }

    .imgmargin {
        display: flex;
    }

    .imgmargin img {
        margin: 2px;
        margin-right: 2px;
    }

    .fdiv1 {
        height: auto;
    }

    .fdiv2 {
        width: 100%;
        height: auto;

    }

    .container5 h1 {
        font-size: 35px;
    }

    .btn2 {
        padding: 10px 30px;
        font-size: 22px;
    }
}

@media (min-width: 992px) and (max-width: 1050px) {
   
    .firstbox {
        width: 100%;
        height: 100%;
        background: var(--blue-color-Footer);
    }
    .text {
        width: 92%;
        margin-top: 83px;
        margin-left: 33px;
    }
    
    
    .border {
        margin-top: 44px;
        width: 99%;
        height: 100%;
        border: 3px solid var(--yellow-color) !important;
        border-radius: 25px;
        padding: 20px;
    }
    
    #video {
        padding-left: 25px;
    }

    .text h1 {
        font-size: 41px;
    }

    .text1 {
        width: 100%;
        margin: 18px 0px;
        display: flex;
        align-items: center;
    }    

    .text1 h2 {
        font-size: 21px;
        justify-content: center;
    }

    .btn1 {
        padding: 15px 33px;
        border-radius: 25px;
        margin-top: 0;
    }

    .border {
        height: 21rem;
    }

    /* img text container start  */

    .text2 {
        height: 100%;
        align-items: flex-end;
    }

    .circletext {
        width: 160px;
        height: 206px;
        position: relative;
        top: 60px;
    }

    .circletext p {
       
        margin-bottom: 0 !important;
    }

    /* video part css start */

    .vbox1 {
        flex-basis: 25%;
    }

    .vbox2 {
        flex-basis: 2%;
    }

    .vbox2 h6 {
        font-size: 14px;
    }

    .vbox2 h6 a {
        font-size: 14px;
    }

    /* our partnors section css */

    .boxuserall {
        flex-basis: 32%;
        height: 30rem;
    }

    .userbox {
        width: 100%;
        height: 21rem;
    }

    .userbox:hover {
        height: 21rem;
    }

    .userimg {
        width: 75%;
        position: absolute;
        top: -75%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .usertext {
        height: 13rem;
    }

    .usertext h5 {
        font-size: 27px;
    }

    .usertext p {
        font-size: 17px;
    }

    .imgmargin {
        display: flex;
    }

    .imgmargin img {
        margin: 3px;
        margin-right: 5px;
    }

    .fdiv1 {
        height: auto;
    }

    .fdiv2 {
        width: 100%;
        height: auto;

    }

    .container5 h1 {
        font-size: 35px;
    }

    .btn2 {
        padding: 10px 30px;
        font-size: 22px;
    }

    div.container-fluid.d-flex.justify-content-between.py-2.css {
        flex-direction: row;
    }

    .text p {
        font-size: 24px;
        text-align: center;
    }
    .companyinfo {
        width: 95%;
        padding-top: 30px;
        background-color: var(--yellow-color);
        height: 30%;
        border-radius: 10px;
        margin: 13px 30px 20px 28px;
    }
    .getin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 44px 29px 10px 30px;
    }
    .leftget {
        width: 50%;
        color: var(--text-blue);
        font-size: 46px;
        /* width: 50%; */
        font-family: var(--font-Hoefler);
    }
    .bttn {
    width: 100%;
    margin-top: 20px;
    font-family: var(--font-Hoefler);
    padding: 10px 70px;
    background-color: var(--text-blue);
    font-size: 30px;
    border-radius: 10px;
    color: white;
}

    
/*Conatct   */

.ctact {
    background-image: url(./image/burst-kUqqaRjJuw0-unsplash.jpg);
    background-size: cover;
    margin-top: 80px;
    height: 60rem;

}

.main-button {
    padding-top: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btnn {
    background-color: var(--text-blue);
    padding: 15px 40px;
    color: white;
    border-radius: 4px;
    border: 1px solid var(--yellow-color);

}

#caution {
    font-weight: bold;
    text-align: start;
}

.form {
    background-color: var(--yellow-color);
    width: 50%;
    height: 100%;
    margin: 100px 0px 40px 80px;
    border-radius: 10px;
}

.maintext {
    color: var(--text-blue);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 81%;
    margin: 30px 40px 10px 47px;
}

.left-text {
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: row;

}

.paragraph {
    text-align: center;
}

.mid-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

/* Inputs */

#mail {

    color: var(--text-blue);
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
}

#info {
    color: var(--text-blue);
    margin-top: -4px;
    margin-left: 8px;
    font-size: 1.1rem;
    font-weight: bold;

}

#info-1 {
    margin-top: 2px;
    font-size: 1.1rem;
}

#phno {


    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
}

#texta-1 {
    color: var(--text-blue);
    width: 86%;
    margin-left: 39px;
    margin-right: 5px;
    font-size: 1rem;
    font-weight: bold;
}
#nav-link {
    margin-right: 19px;
    margin-top: 4px;
}

.inputs {
    margin: 20px 51px 10px 51px;
    display: flex;
    flex-direction: column;
}

.input-1 {
    margin-bottom: 10px;
    padding: 10px 20px;
    outline: none;
    border: none;

}

.textarea-1 {
    padding: 10px 20px;
    resize: none;
    outline: none;
    border: none;
}

.submit {
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: var(--text-blue);
    transition: 0.4s;
    outline: none;
    border: none;

}

.home {
    background-color: var(--text-blue);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 300px;
}

.home span {
    text-align: center;
    padding: 25px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.main-home {
    display: flex;
    justify-content: space-evenly;
}

}
/* for upper devices */

@media (min-width: 1100px) and (max-width: 1399px) {

    .firstbox {
        width: 100%;
        height: 40rem;
        background: var(--blue-color-Footer);
    }

    .text h1 {
        font-size: 48px;
    }

    .text1 {
        width: 72%;
        margin: 25px 0px;
        display: flex;
        align-items: center;
    }

    .text1 h2 {
        font-size: 22px;
    }

    .btn1 {
        padding: 20px 50px;
        border-radius: 25px;
        margin-top: 0;
    }

    .border {
        margin-top: 5rem;
        width: 99%;
        height: 70%;
        border: 3px solid var(--yellow-color) !important;
        border-radius: 25px;
        padding: 20px;
      }
    /* our partnors section css */
    /* #nav-link {
        margin-right: 17px;
        margin-top: 4px;
    } */

    .boxuserall {
        flex-basis: 32%;
        height: 34rem;
    }
    

    .userbox {
        width: 100%;
        height: 25rem;
    }

    .userbox:hover {
        height: 25rem;
    }

    .fdiv2 {
        width: 60%;
    }
  



/* form end */

}



/* media queery for
@media(max-width:320px){
    
} */