/* button{
    margin: 100px;
    padding: 40px 120px;
    background-color: rgb(255, 110, 110);
    border: white;

} */
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    column-gap: 20px;
   
}
.m{
    color: aliceblue;
    background-color: black;
     border: 2px solid rgb(255, 255, 255);
     outline: #000000 solid 10px;
     padding: 10px 80px;
     border-radius: 1px;
     align-items: center;

}

/* .btn{
    font-size: 2rem;
    margin: 50px;
    color: aliceblue;
   background-color: black;
    border: 2px solid rgb(255, 255, 255);
    outline: #000000 solid 10px;
    padding: 10px 80px;
    border-radius: 1px;
    text-align: center;
} */
